{% extends 'base.html.twig' %}

{% block title %}Visiteur{% endblock %}

{% block body %}
    <h1>Visiteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visiteur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ visiteur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ visiteur.roles ? visiteur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ visiteur.password }}</td>
            </tr>
            <tr>
                <th>Vis_nom</th>
                <td>{{ visiteur.visNom }}</td>
            </tr>
            <tr>
                <th>Vis_prenom</th>
                <td>{{ visiteur.visPrenom }}</td>
            </tr>
            <tr>
                <th>Vis_tel</th>
                <td>{{ visiteur.visTel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('visiteur_index') }}">back to list</a>

    <a href="{{ path('visiteur_edit', {'id': visiteur.id}) }}">edit</a>

    {{ include('visiteur/_delete_form.html.twig') }}
{% endblock %}
